@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100vh;
  @include flexCenter();
  background-image: url(file:///C:/GazaSkyGeeks/React/quizzical-app/assets/blobs.svg),
    url(file:///C:/GazaSkyGeeks/React/quizzical-app/assets/blobs2.svg);
  background-position: top right, bottom left;
  background-repeat: no-repeat;
  background-size: 25%;
}
